<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="Barang"></ion-menu-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" offset-sm="4">
        <ion-row>
          <ion-col>
            <img style="border-radius: 70%;" src="https://media1.tenor.com/images/5f3a0a414cd236831abcbc05a74e8814/tenor.gif?itemid=14317292">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col>
        <ion-list style="text-align: center">
          <ion-item >
            <ion-label>Djasen Tjendry</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Referensi:</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Modul Week 1-7</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Dokumentasi dan forum ionic</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Stackoverflow</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
