<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="Barang"></ion-menu-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" offset-sm="4">
        <ion-row>
          <ion-col>
<!--            <img style="border-radius: 70%;" src="wew.gif">-->
            <img src="https://i.pinimg.com/originals/63/a4/62/63a462e498a479b588d575f83a47910b.gif" loop=infinite>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-list style="margin : 40px; ">
      <ion-row >
        <ion-col>
          <ion-list style="text-align: center">
            <ion-item >
              <ion-label>Djasen Tjendry</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Referensi:</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Materi Week 1 - 7</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Dokumentasi dan forum ionic</ion-label>
            </ion-item>
            <ion-item>
              Ada beberapa manusia yang membantu project ini, antara lain Albert Wijaya, Jodry Van Bastian, Steven Wijaya
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>
</ion-content>
