<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>MotherBoard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4" offset-sm="4">
        <ion-row>
          <ion-col>
            <ion-img [src]="loadedMOBO.img"  ></ion-img>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col >
            <h3>{{loadedMOBO.merkMOBO + ' ' + loadedMOBO.modelMOBO}}</h3>
            <h5>{{loadedMOBO.harga | currency : "Rp." }}</h5>
            <h6>Tersedia : {{loadedMOBO.stock}}</h6>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-list>
              <h6 style="margin-left: 10px">Tentang Produk</h6>
              <ion-item>
                <h6>Merek: {{ loadedMOBO.merkMOBO }} </h6>
              </ion-item>
              <ion-item>

                <h6>Model: {{ loadedMOBO.modelMOBO }}</h6>
              </ion-item>
              <ion-item>
                <h6>Chipset: {{ loadedMOBO.chipsetMOBO }} </h6>
              </ion-item>
              <ion-item>
                <h6>Processor: {{ loadedMOBO.recomMOBO }}</h6>
              </ion-item>
            </ion-list>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
